@charset "utf-8";
/* CSS Document */
	body{
background-image: url(imagenes/fondo.png);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
	
button{
	border-radius: 10px;
	  width: auto;
}
H1,H3{
 color:white;
 text-align: center;
}
a{
	margin:10px;
}
input[type=text]{
	width: auto;
	height: 20px;
	font:14px;
	}
	input[type=password]{
	width: auto;
	height: 20px;
	font:14px;
	}
	input[type=button]{
	border-radius: 10px;
	  width: auto;
}
	input[type=submit]{
	border-radius: 10px;
	  width:auto;
}